
$primaryFontColor: #4c4c4c;

body {
	color: $primaryFontColor;
}

#app-logo {
	text-transform: uppercase;
	text-align: center;
}

#icon-credit {
	margin-top: 400px;
	font-size: .5em;
	text-align: center;
}