
$blue: #168eea;
$lightBlue: #a1d1f6;
$coral: #ee4f4f;
$cream: #fff9ea;
$green: #76b852;
$black: #323b43;
$grey: #59626a;
$lightGrey: #e6e6e6;
$white: #FFF;



$logoFont: 'Roboto', sans-serif;
$slabFont: 'Roboto Slab', serif;


#fixed-logo {
	background-color: $white;
	width: 100%;
	height: 6.5em;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 4px solid $lightBlue;


	#logo-text {
		font-family: $logoFont;
		color: $blue;
		font-weight: 500;
		font-size: 2.5em;
		text-align: center;
		text-transform: uppercase;
		margin-top: 35px;
	}

	#logo-border {
		border: 4px solid $blue;
		padding: 1px 18px;
	}
}


#hero-img {
	background-image: linear-gradient(rgba(22, 124, 234, 0.7), rgba(22, 124, 234, 0.7)), url("../images/bar.jpeg");
	padding: 11em 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;	

	#header-container {
		margin: 0 auto;
		text-align: center;
		width: 60%;
		margin-top: 50px;
	}

	#hero-title {
		font-family: $logoFont;
		color: $white;
		font-weight: 400;
		font-size: 2.5em;
		text-transform: uppercase;
	}

	#title-border {
		border: 3px solid $white;
		padding: 1px 18px;
	}

	#hero-description {
		font-family: $slabFont;
		font-size: 1.5em;
		color: $white;
		opacity: .9;
	}

	#hero-icon {
		opacity: .9;
	}
}

#search {
	margin: 0 auto;
	width: 70%;
	max-width: 600px;
	margin-top: 100px;

	.form-style, .btn-style {
		width: 100%;	
		height: 5em;
	}

	.btn-style {
		width: 6em;
		background-color: $blue;
		border: $blue;
	}

	.glyphicon-search {
		font-size: 2em;
		color: $white;
	}

	.column-style {
		width: 100%;
	}

}

#result-counter {
		text-align: center;
		color: $black;
		margin-top: 200px;
	}

.results-template {
	margin: 0 auto;
	width: 85%;
	max-width: 800px;


	.results {
		padding: 40px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 20em;
		color: $white;
		background-color: $blue;
	}

	// .result-p {
	// 	padding: 40px;
	// 	margin-top: 10px;
	// 	margin-bottom: 10px;
	// 	background-color: $blue;
	// }

	.result:nth-of-type(2n) {
  		background-color: $lightGrey;
  		color: $black;
	}
}

#icon-credit {
	margin-top: 400px;
	font-size: .5em;
	text-align: center;
}